.pokemon-list-wrapper{
    margin: 2rem auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    


}
.pokemon-wrapper{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.controls button{
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    

}
.pokemon-wrapper > img{
    width: 50px;
    margin: 2rem;
}
.controls{
    margin-top: 2rem;
    margin-bottom: 2rem;
}